.Address {
  max-width: 500px;
  margin: 0 auto;
  form {
    display: flex;
    flex-direction: column;
    .formControl {
      display: flex;
      flex-direction: column;
      //   label {
      //     display: block;

      //     color: red;
      //   }
      //   input {
      //     display: block;
      //   }
    }
  }
}
